<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Welcome Remix to ViteJS! A plugin that allows you to use the Remix Framework within the ViteJS environment."
    />
    <meta name="keywords" content="Remix, ViteJS, plugin, development" />
    <meta name="author" content="Willyams Yujra" />
    <meta name="robots" content="index, follow" />
    <meta
      name="google-site-verification"
      content="VUQRta7ZIunA0xKgPfD4p-Yv7tSM65dpmJMGWC6C9-0"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta property="og:title" content="vite-plugin-remix" />
    <meta
      property="og:description"
      content="Welcome Remix to ViteJS! A plugin that allows you to use the Remix Framework within the ViteJS environment."
    />
    <meta property="og:image" content="/vite-plugin-remix/logo.svg" />
    <meta
      property="og:url"
      content="https://yracnet.github.io/vite-plugin-remix/"
    />
    <meta property="og:type" content="website" />
    <meta name="twitter:card" content="/vite-plugin-remix/logo.svg" />
    <meta name="twitter:title" content="vite-plugin-remix" />
    <meta
      name="twitter:description"
      content="Welcome Remix to ViteJS! A plugin that allows you to use the Remix Framework within the ViteJS environment."
    />
    <meta name="twitter:image" content="/vite-plugin-remix/logo.svg" />
    <title>Vite Remix</title>
  </head>
  <body>
    <div id="main">
      <div id="content">{{ content }}</div>
    </div>
  </body>
</html>
